<div class="card border-secondary mb-3">
    <div class="card-body text-secondary">

      <div class="my-2 text-left">
        <a [routerLink]="['/formulario']" 
        class="btn btn-rounded btn-primary" >
            Crear Cliente
      </a>
      </div>

      <div *ngIf="clientes.length == 0" class="alert alert-info">
        No hay Registros en la Base de Datos
      </div>
      
      <table class="table table-bordered table-striped" *ngIf="clientes.length > 0">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.createAt }}</td>
                <td>
                    <button type="button" 
                    class="btn btn-primary"
                    [routerLink]="['/formulario', cliente.id]" 
                    >Ver</button>
                    &nbsp;
                    <button type="button" 
                    class="btn btn-secondary"
                    [routerLink]="['/formulario', cliente.id]" 
                    >Editar</button>
                    &nbsp;
                    <button type="button" 
                    class="btn btn-danger"
                    (click)="deleteAlert(cliente)" 
                    >Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      
    </div>
</div>